*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: adobe-clean, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	min-height: 100vh;
	display: flex;
    flex-direction: column; 
}
@font-face {
    font-family: 'AdobeClean';
    src: url('../AdobeClean/AdobeClean-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeClean';
    src: url('../AdobeClean/AdobeClean-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
.main {
  display: flex;
  justify-content: center;
  background-image: url("../Slike/backgrounds/background1.jpg");
  align-items: center;  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex: 1;
  position: relative;
  padding: 20px;
}
.desno{
	height: auto;
	width: 510px;
	margin-bottom: 22px;
	padding: 24px 55px 40px 55px;
	background-color: white;
	border-radius: 4px;
	
}
.sre {
	text-align: left;
}
.glava{
	font-family: adobe-clean;
}
.levo{
	height: 643px;
	width: 540px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 40px;
}
.vnos{
	font-family: 'AdobeClean';
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #464646;
}
.password-container {
    position: relative;
    display: flex;
}

.password-container input {
    width: 100%;
    padding-right: 45px;
}

.eye-icon {
	top: 6px;
    position: absolute;
	left: 368px;
    right: 10px;
    cursor: pointer;
    width: 100px;
    height: 100px;
}
input[type="email"], input[type="password"]{
	width: 100%;
	padding-left: 9px;
	height: 32px;
	border-radius: 3.9px; 
	border: 1px solid #909090;
	background-size: 24px 18px;
	background-color: white;
	padding-right: 40px;
	font-family: 'AdobeClean';
	padding-top: 3px;
	padding-bottom: 5px;
	background-repeat: no-repeat;
	background-position: right 10px center;
}
input[type="submit"] {
	background-color: #0265dc;
	color: white;
	border: none;
	padding: 8px 24px;
	border-radius: 20px;
	cursor: pointer;
	font-family: 'AdobeClean';
	font-weight: 700;
	font-size: 15px;
	float: right;
	
}
input[type="submit"]:hover{
	background-color: #004491;
}
input[type="email"]:focus, input[type="password"]:focus{
	border-color: #147AF3;
	outline: none;
}
input[type="email"]:hover, input[type="password"]:hover{
	border-color: #6D6D6D;
}
input[type="text"]{
	width: 100%;
	padding-left: 9px;
	height: 32px;
	border-radius: 3.9px; 
	border: 1px solid #909090;
	background-size: 24px 18px;
	background-color: white;
	padding-right: 40px;
	padding-top: 3px;
	padding-bottom: 5px;
	font-family: 'AdobeClean';
	background-repeat: no-repeat;
	background-position: right 10px center;
}
.pisave{
	color: white;
	font-size: 20px;
	font-family: 'AdobeClean';
	font-weight: 300;
	line-height: 1.4;
}
.header {
	margin-bottom: 30px;
}
.header .logo {
	width: 100px;
	margin-bottom: 20px;
	position: relative;
}
.header h1 {
	font-size: 36px;
	margin-bottom: 10px;
	font-family: 'AdobeClean';
	line-height: 54px;
  	font-weight: 700;
}
.header p {
	color: #6D6D6D;
	font-size: 14px;
}
.header a {
	color: #0265dc;
	text-decoration: none;
}
.header a:hover {
	text-decoration: underline;
}
.login {
	margin-bottom: 40px;
}
.sredin a{
	font-family: 'AdobeClean';
	font-weight: 700;
	font-size: 700;
}
.besedilo1 {
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #2c2c2c;
}
.sredin{
	text-align: center;
}
.soci{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px 20px;
	margin-bottom: 12px;
	border: 1px solid #FFFFFF;
	border-radius: 100px;
	cursor: pointer;
	gap: 14px;
	font-size: 14px;
	font-weight: 500;
	background-color: white;
	margin-top: 12px;
	text-decoration: none;
	color: #2c2c2c;
}
.soci:hover{
	border-color: #909090;
}
.footer{
	color: grey;
	padding: 12px;
	background-color: white;
	text-align: center;
	width: 100%;
	font-size: 12px;
	margin-top: auto;
	
	
}
.footer a {
    color: #2c2c2c;
    text-decoration: none;
}

.footer a:hover {
    color: #0265dc;
    text-decoration: underline;
}
@media (max-width: 1290px) {
    .levo {
        display: none;
    }

    .desno {
        margin: 0 auto;
    }
    
    .main {
        justify-content: center;
    }
}




